{
  "parserOpts": {
    "plugins": [
      "jsx",
      "typescript",
      "optionalChaining",
      "nullishCoalescingOperator",
      "decorators",
      "classProperties",
      "privateIn",
      "topLevelAwait"
    ]
  }
}